.title-page {
  color: $color-title;
  font-family: $secondary-font;
  line-height: 36px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title-section {
  color: $color-title;
  font-family: $secondary-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.line-green-title {
  color: $color-title;
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  background-color: #ffffff;
  position: relative;
  width: fit-content;
  box-shadow: -20px 0 0 $color-white, 20px 0 0 $color-white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    box-shadow: -40px 0 0 $color-white, 40px 0 0 $color-white;
  }
}

.line-green-title::before {
  content: "";
  position: absolute;
  top: 0.6em;
  right: 0;
  width: 100vw;
  height: 2px;
  background-color: $bg-color;
  box-shadow: 100vw 0 0 $bg-color;
  z-index: -1;
}
