.additional-products {
  padding-top: 24px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 87px;
  }
}

.additional-products__title {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    padding-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-bottom: 80px;
  }
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: $tablet-width) {
    gap: 68px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__list {
  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    display: flex;
    flex-direction: column;
    min-width: 895px;
  }
}

.additional-products__item {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;
    grid-template-areas:
      "title text"
      "button button";
    row-gap: 22px;
    padding: 28px 37px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    grid-template-columns: 1fr 1fr 244px;
    grid-template-areas: "title text button";
    justify-content: space-between;
    row-gap: 0;
  }
}

.additional-products__item:first-child {
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-products__name-product {
  color: $dark-grey;
  text-align: left;
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    grid-area: title;
    margin-bottom: 0;
    margin-top: -4px;
    margin-left: 1px;
  }
}

.additional-products__text-block {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-area: text;
    font-size: 16px;
    line-height: 20px;
    gap: 48px;
    margin-bottom: 0;
    display: grid;
    justify-content: end;
    grid-template-columns: auto auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: start;
    margin-right: 40px;
    gap: 0;
    margin-top: 1px;
  }
}

.additional-products__text-description {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.additional-products__text-price {
  @media (min-width: $tablet-width) {
    min-width: 42px;
    text-align: right;
    margin-right: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    text-align: left;
    margin-right: 0;
  }
}

.additional-products__link-button {
  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}
