.comments {
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.comments__title {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 78px;
  }
}

// .comments__label {
// }

.comments__textarea {
  color: $color-text;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $light-grey-4;
  padding: 14px 14px 14px 15px;
  width: 100%;
  height: 150px;
  overflow: scroll-y;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px 14px 20px;
    height: 175px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }
}

.comments__textarea::placeholder {
  color: $color-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.comments__textarea:hover {
  border-color: $input-border;
}

.comments__textarea:focus {
  border-color: transparent;
  outline: 2px solid $color-focus;
}
