.form {
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

// .form__wrapper {
// }
// .form-group {
// }
.form-group__fieldset {
  border: 0;
}
