// .form-control {
// }
// .form-control__button {
// }

.form-control__required-field {
  color: $color-black;
  text-align: center;
  font-family: $primary-text;
  line-height: 16px;
  text-transform: none;
}
