.form__button-wrapper {
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 59px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 79px;
    gap: 80px;
  }
}

.form__button-control {
  border: none;

  @media (min-width: $tablet-width) {
    height: 54px;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__required-field {
  color: $color-black;
  text-align: center;
  font-family: $primary-text;
  line-height: 16px;
  text-transform: none;
  font-size: 14px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 16px;
    margin-left: -2px;
    margin-top: -3px;
  }
}
