// .location {
// }

// .location__address {
// }

.location__text {
  color: $dark-grey-2;
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.location__address-text {
  line-height: 20px;
}

// .location__block-map {
// }

// .location__map-pin {
// }
