
// .main-nav {
// }
// .main-nav--closed {
// }
.main-nav__toggle {
  width: 24px;
  height: 24px;
  transition: all 0.1s linear;
  position: relative;
  z-index: 3;
  top: -3px;
  right: -3px;
  border: 0;
}

.main-nav__toggle--opens {
  background: url("../../images/icons/stack.svg#icon-open-menu") no-repeat center;
}

// .main-nav__list {
// }

// .main-nav__item {
// }
.main-nav__link {
  color: $color-title;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
// .main-nav__link--support {
// }
