// .main-footer {
// }

// .main-footer__logo {
// }
// .main-footer__social {
// }
// .social {
// }
// .social__list {
// }

// .social__list-iitem {
// }
// .social__list-link {
// }
// .social__list-link--vk {
// }
// .social__list-link--inst {
// }
// .social__list-link--fb {
// }
// .main-footer__copyright {
// }
// .copyright {
// }
// .copyright__link {
// }

.copyright__text {
  color: $color-text;
  font-family: $primary-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
// .copyright__logo {
// }
