// .personal-data {
// }
// .personal-data__list {
// }
// .personal-data__item {
// }
// .personal-data__label {
// }
.personal-data__input {
  color: $color-text;
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    color: $color-text;
  }
}
// .personal-data__text {
// }
