/* stylelint-disable indentation */
// .programs {
// }
// .programs__list {
// }
.programs__item {
  margin-bottom: 200px;
}

.programs__title {
  position: relative;
  color: $color-title;
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 200px;
}

.programs__title--slim {
  padding-left: 90px;
}

.programs__title--slim::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.programs__title--slim::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 36px;
  height: 50px;
  background: url("../../images/icons/stack.svg#cat-slim") no-repeat center;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.programs__title--pro {
  padding-left: 91px;
}

.programs__title--pro::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.programs__title--pro::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 67px;
  height: 28px;
  background: url("../../images/icons/stack.svg#cat-pro") no-repeat center;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
  }
}
// .programs__text {
// }
.programs__link {
  display: inline-flex;
  align-items: center;
  color: $color-black;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  column-gap: 20px;
  transition: 0.3s ease-in-out;
}

.programs__link::after {
  content: "";
  width: 32px;
  height: 16px;
  background-image: url("../../images/icons/stack.svg#icon_arrow");
  background-position: -8px;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.programs__link:hover::after {
  background-position: 0;
}

.programs__link:active {
  opacity: 0.3;
}
